name: Sync Template

on:
  # cronjob trigger
  schedule:
    - cron: '0 0 1 * *'
  # manual trigger
  workflow_dispatch:
jobs:
  repo-sync:
    runs-on: ubuntu-latest
    # https://docs.github.com/en/actions/using-jobs/assigning-permissions-to-jobs
    permissions:
      contents: write
      pull-requests: write

    steps:
      # To use this repository's private action, you must check out the repository
      - name: Checkout
        uses: actions/checkout@v4
        # https://github.com/actions/checkout#usage
        # uncomment if you use submodules within the repository
        # with:
        #   submodules: true

      - name: actions-template-sync
        uses: AndreasAugustin/actions-template-sync@v2
        with:
          source_repo_path: showlotus/fumadocs-template
          upstream_branch: master # defaults to main
          pr_labels: template_sync # defaults to template_sync
          # 设置 prune 为 false，防止删除目标仓库的额外文件
          prune: false
          # 明确排除工作流文件
          exclude: |
            .github/workflows/deploy.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
